@import "../../../assets/scss/variables";

.material-radio {
  color:         $color-black;
  position:      relative;
  display: inline-block;
  margin-top: 40px;

  label {
    color:          $color-black-1;
    cursor:         pointer;
    display:        block;
    position:       relative;
    font-size:      1rem;
    user-select:    none;
    font-weight:    400;
    vertical-align: middle;

    // OUTER CIRCLE
    &:before {
      width:            1.6rem;
      border:           .3rem solid rgba(0, 0, 0, .45);
      height:           1.6rem;
      content:          '';
      display:          inline-block;
      transition:       all .3s ease;
      will-change:      background-color, border-color;
      user-select:      none;
      margin-right:     1.6rem;
      border-radius:    50%;
      vertical-align:   middle;
      background-color: white;
    }
    // INNER CIRCLE
    &:after {
      top: 13px;
      left: 13px;
      width: 11px;
      height: 11px;
      content:          '';
      position:         absolute;
      transform:        translate(-50%, -50%) scale(0, 0) translateZ(0);
      transition:       all .2s ease;
      will-change:      transform;
      border-radius:    50%;
      background-color: rgba(0, 0, 0, .45);
    }
  }

  input[type=radio] {
    display: none;
    &:checked {
      + label {
        &:before { border-color: $color-primary; }
        &:after {
          transform:        translate(-50%, -50%) scale(1, 1) translateZ(0);
          background-color: $color-primary;
        }
      }
    }
  }
}
