@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins/common";

.container-manage-booking{
  background-color: $color-white;

  .col-search-input, .col-advance-search{
    padding-left: 6px;
    padding-right: 6px;
  }

  svg.icons{
    @include svgIcons($color-white);
  }
}
