@charset "utf-8";
/* CSS Document */

@media (max-width: 768px){
	.container { width: 90%;}
	.grid_item .grid_img { flex: 0 0 100%; float: none; width: 100%; max-width: 100%; border: #fff; padding: 0;}
	////////////////////////////
	//                        //
	//      TRUNCATED         //
	//                        //
	////////////////////////////
	