@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins/common";

.container-list-related{
  padding-left: 20px !important;
  max-width: 89% !important;
  margin-top: 3rem !important;
}
